name: docker

on:
  push:
    paths-ignore:
      - ".github"
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  docker-build-push:
    concurrency: "build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: metisdao
          password: ${{ secrets.DOCKER_ACCESS_KEY  }}

      - name: Docker meta for reward submitter
        id: docker-meta-reward-submitter
        uses: docker/metadata-action@v5
        with:
          images: metisdao/reward-submitter

      - name: Build and push
        uses: docker/build-push-action@v6
        timeout-minutes: 10
        with:
          push: true
          tags: ${{ steps.docker-meta-reward-submitter.outputs.tags }}
          target: reward-submitter
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64
