name: docker

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - "main"

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: metisdao
          password: ${{ secrets.DOCKER_ACCESS_KEY  }}

      - name: Docker meta for reward submitter
        id: docker-meta-reward-submitter
        uses: docker/metadata-action@v5
        with:
          images: metisdao/reward-submitter

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          pull: true
          context: .
          sbom: false
          provenance: false
          target: reward-submitter
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64
          tags: ${{ steps.docker-meta-reward-submitter.outputs.tags }}
